<html>

<head>
    <title>
        Blood Donation Portal
    </title>
</head>

<body>
    <ul>
        <% if (user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/profile">Profile</a></li>
    </ul>
    <h1>
        Welcome to your profile,
        <%= user.user_details.username %>
    </h1>
    <form action="/profile/request/new" method="POST">
        <select name="bloodgroup">
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="O+">O+</option>
            <option value="AB+">AB+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
            <option value="O-">O-</option>
        </select>
        <input type="submit" placeholder="Create Request">
    </form>
    <% if(user.no_of_requests) { %>
        <h2>
            Active Requests
        </h2>
        <table>
            <tr>
                <th>
                    Request Blood Group
                </th>
                <th>
                    Creation Date
                </th>
            </tr>
            <% for(i=0;i<user.no_of_requests;i++) {%>
                <% if(user.request_details[i].requestStatus == "pending") {%>
                    <tr>
                        <td>
                            <%= user.request_details[i].requestBloodGroup %>
                        </td>
                        <td>
                            <%= user.request_details[i].createdOn %>
                        </td>
                        <td>
                            <form action="/profile/request/cancel" method="POST">
                                <button type="submit" name="cancel" value='{"id": "<%= user.request_details[i]._id %>" , "val": "cancelled"}'>
                                    Cancel
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </table>
        <% } %>
            <% if(user.no_of_requests) { %>
                <h2>
                    Past Requests
                </h2>
                <table>
                    <tr>
                        <th>
                            Request Blood Group
                        </th>
                        <th>
                            Creation Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    <% for(i=0;i<user.no_of_requests;i++) {%>
                        <% if(user.request_details[i].requestStatus != "pending") {%>
                            <tr>
                                <td>
                                    <%= user.request_details[i].requestBloodGroup %>
                                </td>
                                <td>
                                    <%= user.request_details[i].createdOn %>
                                </td>
                                <td>
                                    <%= user.request_details[i].requestStatus %>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                </table>
                <% } %>
</body>

</html>